/* Mobile view CSS Grids */
@media only screen and (max-width: 1000px) {

  /*--- MOBILE NAV START ---*/
  nav {
    width: 0%;
    position: fixed;
    display: block;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(157, 202, 236);
    z-index: 999;
    transition: 0.3s;
  }

  #open {
    width: 100%;
    font-size: 35pt;
    background: rgba(157, 202, 236);
  }

  #close {
    float: right;
    margin-right: 5%;
    font-size: 35pt;
  }

  nav a {
    display: block;
    padding: 1em !important;
    border-top: solid;
    border-bottom: solid;
    font-size: 20pt;
    text-align: left;
  }

  nav .first {
    border-top: 0;
  }

  nav .last {
    border-bottom: 0;
  }

  /*--- MOBILE NAV END ---*/
  /*--- HEADER GRID START ---*/
  #headgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'nav''logo'
      'title'
      'tag'
      'book';
    width: 90%;
    margin: 0 auto;
    padding: 0 0 5em 0;
    text-align: center;
  }

  .headbutt {
    margin: auto;
  }

  .toplogo {
    width: 60% !important;
  }

  /*--- HEADER GIRD END ---*/
  /*--- HOME PAGE START ---*/
  #indexgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1em;
    grid-template-areas:
      'title1'
      'txt1'
      'offer'
      'title2'
      'cta1''cta2''cta3'
      'txt2';
    width: 90%;
    margin: 0 auto;
  }

  .pgtitle {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  /* --- HOME PAGE END --- */
  /* --- ABOUT US PAGE START --- */
  #aboutgrid {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  #aboutgrid img {
    width: 100%;
  }

  /* --- ABOUTS US PAGE END --- */
  /* --- TEAM PAGE START --- */
  #teamrow1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'title'
      'intro';
    width: 90%;
    margin: 0 auto;
  }

  #staffrow1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'pic1''staff1';
    width: 80%;
    margin: 0 auto 2em auto;
  }

  #staffrow2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'pic2''staff2';
    width: 80%;
    margin: 2em auto;
  }

  #staffrow3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'pic3''staff3';
    width: 80%;
    margin: 2em auto;
  }

  #staffrow4 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'pic4''staff4';
    width: 80%;
    margin: 2em auto;
  }

  .staffmembers h2 {
    font-size: 25pt !important;
  }

  .staffmembers h3 {
    font-size: 15pt !important;
  }

  /* --- TEAM PAGE END --- */
  /* --- SERVICE PAGE START --- */
  #servicesintro {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'title'
      'intro';
    width: 90%;
    margin: 0 auto;
  }

  #servicerow1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'service''price';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  #servicerow2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'service''price';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  #servicerow3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'service''price';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  .servicespage aside p {
    margin: 0.5em !important;
  }

  .servicesintro {
    text-align: justify;
  }

  /* -- SERVICES PAGE END -- */
  /* --- GALLERY PAGE START --- */
  #gallery {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }

  #gallerygrid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    width: 90%;
    margin: auto;
  }

  /* --- GALLERY PAGE END --- */
  /* --- CONTACT PAGE START --- */
  #contactgrid {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }

  #contactgrid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'form''locations';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  #contact2 {
    padding-left: 0 !important;
  }

  /* --- CONTACT PAGE END --- */
  /* --- FOOTER GRID START --- */
  footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      'open location'
      'logo logo'
      'contact contact';
    width: 100%;
    margin: 0 auto;
  }

  .footer2 {
    padding-left: 1.5em;
  }
}

/* Any device with a width above 1001 will load this grid */
@media only screen and (min-width: 1001px) {
  #open {
    display: none;
  }

  #close {
    display: none;
  }

  /*--- HEADER GRID START ---*/
  #headgrid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas:
      'nav . logo'
      'title . logo'
      'tag . logo'
      'book . .';
    width: 90%;
    margin: 0 auto;
    padding: 5em 0;
  }

  /*--- HEADER GIRD END ---*/
  /*--- HOME PAGE START ---*/
  #indexgrid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 1em;
    grid-template-areas:
      'title1 title1 title1'
      'txt1 txt1 offer'
      'title2 title2 .'
      'cta1 cta2 cta3'
      'txt2  txt2 txt2';
    width: 90%;
    margin: 0 auto;
  }

  .indexoffer {
    animation: offer 2.5s 0.3s infinite;
  }

  /* --- HOME PAGE END --- */
  /* --- ABOUT US PAGE START --- */
  #aboutgrid {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  /* --- ABOUTS US PAGE END --- */
  /* --- TEAM PAGE START --- */
  #teamrow1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'title'
      'intro';
    width: 90%;
    margin: 0 auto;
  }

  #staffrow1 {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      'pic1 staff1';
    width: 50%;
    margin: 0 auto 1em auto;
  }

  #staffrow2 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
      'staff2 pic2';
    width: 50%;
    margin: 0 auto 1em auto;
  }

  #staffrow3 {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      'pic3 staff3';
    width: 50%;
    margin: 0 auto 1em auto;
  }

  #staffrow4 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
      'staff4 pic4';
    width: 50%;
    margin: 0 auto 2em auto;
  }

  /* --- TEAM PAGE END --- */
  /* --- SERVICE PAGE START --- */
  #servicesintro {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'title'
      'intro';
    width: 90%;
    margin: 0 auto;
  }

  #servicerow1 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
      'service price';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  #servicerow2 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
      'service price';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  #servicerow3 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
      'service price';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  /* -- SERVICES PAGE END -- */
  /* --- GALLERY PAGE START --- */
  #gallery {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  #gallerygrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    width: 90%;
    margin: auto;
  }

  /* --- GALLERY PAGE END --- */
  /* --- CONTACT PAGE START --- */
  #contactgrid {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  #contactgrid2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
      'form locations';
    width: 90%;
    margin: 0 auto 2em auto;
  }

  /* --- CONTACT PAGE END --- */
  /* --- FOOTER GRID START --- */
  footer {
    display: grid;
    grid-template-columns: 30% 23.3% 23.3% 23.3%;
    grid-template-areas:
      'logo open contact location';
    width: 100%;
    margin: 0 auto;
  }
}