body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  background-image: url();
  overflow-x: hidden;
}

/* -- START: Top button Styles -- */
html {
  scroll-behavior: smooth;
}

.top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  z-index: 1;
  font-size: 50pt;
  padding: 0.2% 1%;
  opacity: 0.5;
  cursor: pointer;
}

.top:hover {
  opacity: 100;
  font-weight: bold;
}

/* HEADING STYLES */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 24pt;
  text-decoration: underline;
}

p {
  line-height: 1.5em;
  font-size: 18pt;
}

/* LINK STYLES */
a {
  color: rgb(51, 158, 239);
}

a:visted {
  color: rgb(51, 158, 239);
}

/* HEADER STYLES */
header {
  color: white;
  background: linear-gradient(#00000050, #00000050), url(../images/header.jpg) grey;
  background-size: cover;
}

/* SITE TITLE STYLE */
.sitetitle {
  grid-area: title;
  text-transform: uppercase;
  font-size: 50pt;
  margin: 0.5em 0 0 0;
}

/* SITE TAGLINE STYLE */
.sitetag {
  grid-area: tag;
}

/* HEADER BUTTON STYLES */
.headbutt {
  grid-area: book;
  width: 50%;
  height: 5em;
  font-weight: bold;
  font-size: 16pt;
  background-color: rgba(157, 202, 236, 0.80);
  color: white;
  text-transform: uppercase;
}

.headbutt:hover {
  cursor: pointer;
  background-color: rgba(157, 202, 236);
}

/* HEADER LOGO STYLE */
.toplogo {
  grid-area: logo;
  width: 75%;
  margin: auto;
}

/* NAVIGTION STYLES */
/* sizing capitiising each word in nav bar */
nav {
  text-transform: capitalize;
  font-size: 16pt;
}

/* adds hover effect to nav buttons */
nav a:hover {
  background-color: white;
  color: black;
}

/* styles nav buttons - removes defualt a tag styling adding padding to show button effect */
nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
  background-color: rgba(157, 202, 236, 0.50);
}

/* NAVIGATION - ACTIVE PAGE TAB STYLE*/
nav a.active {
  text-decoration: underline;
  font-weight: bold;
  background-color: rgba(157, 202, 236);
}

/* code to add dog pawprint to active tab */
/* nav a.active::before {
  text-decoration: none;
  content: url(../images/logo.svg);
  height: 1em;
  width: 1em;
} */
/* PAGE TITLE STYLING */
.pgtitle {
  font-size: 40pt;
  text-decoration: underline;
  margin-bottom: 0.3em;
}

/* --- INDEX.HTML STYLING START --- */
/* positioning for page title on index.html (linking to grid.css) */
.indextitle1 {
  grid-area: title1;
}

/* styling for text block #1 on index.html */
.indextxt1 {
  grid-area: txt1;
  font-size: 18pt;
  text-align: justify;
  line-height: 1.5em;
}

/* styling for class 'indexoffer' - positioning and setting up animation for image */
.indexoffer {
  grid-area: offer;
  margin: auto;
  width: 80%
}

/* styling for class 'indexoffer' - animating image to pulse */
@keyframes offer {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* positioning for index.html image (links to grid.css) */
.indeximg {
  grid-area: img;
  margin: auto;
}

/* positioning for index.html subheading (links to grid.css) */
.indextitle2 {
  grid-area: title2;
  font-size: 25pt;
}

/* positioning for index.html text area #2 (links to grid.css) */
.indextext2 {
  grid-area: txt2;
  text-align: center;
  font-size: 18pt;
}

/* index.html call to action #1 */
.indexcta1 {
  grid-area: cta1;
  background-image: url(../images/pet-sitting.jpg);
}

/* index.html call to action #2 */
.indexcta2 {
  grid-area: cta2;
  background-image: url(../images/small-pet-visits.jpeg);
}

/* index.html call to action #3 */
.indexcta3 {
  grid-area: cta3;
  background-image: url(../images/overnight-sitting.jpeg);
}

/* --- INDEX.HTML STYLING END --- */
/* --- CALL TO ACTION IMAGES START --- */
/* CTA styling - sizing, transitions and drop shaddow enabled*/
.hover-zoom {
  height: 20em;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
  background-size: 100%;
  background-position: top;
  margin: 1em auto;
  filter: drop-shadow(10px 10px 10px grey);
  width: 100%;
  border: solid white;
}

/* adds hover effect to CTA images */
.hover-zoom:hover {
  background-size: 110%;
}

/* positions text to the bottom of the CTA image */
.text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(23, 23, 23, 0.68);
  box-sizing: border-box;
  color: rgb(157, 202, 236);
  font-size: 20pt;
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
}

.text h3 {
  margin: 0.5em;
}

/* --- CALL TO ACTION IMAGES END --- */
/* --- ABOUT.HTML START --- */
#aboutgrid p {
  font-size: 18pt;
  text-align: justify;
}

/* --- ABOUT.HTML END --- */
/* --- TEAM.HTML START --- */
/* styling and positioning for page title on team.html (linking to grid.css) */
.teamtitle {
  grid-area: title;
  margin-bottom: 0;
}

/* positioning to staff.html intro (linking to grid.css) */
.teamrow1 {
  grid-area: intro;
  text-align: justify;
  margin-bottom: 2em;
}

/* styling for staff members content */
.staffmembers h2 {
  font-size: 36pt;
  margin-bottom: 0em;
}

.staffmembers h3 {
  font-size: 24pt;
  margin: 0.3em
}

.staffmembers img {
  width: 100%;
}

/* adds style and positioning to staff #1 (linking to grid.css) */
.staff1 {
  grid-area: staff1;
  background: rgb(157, 202, 236);
  text-align: center;
}

/* adds positioning to price for staff pic #1 (linking to grid.css) */
.staffpic1 {
  grid-area: pic1;
}

/* adds style and positioning to staff #2 (linking to grid.css) */
.staff2 {
  grid-area: staff2;
  background: rgb(157, 202, 236);
  text-align: center;
}

/* adds positioning to price for staff pic #2 (linking to grid.css) */
.staffpic2 {
  grid-area: pic2;
}

/* adds style and positioning to staff #3 (linking to grid.css) */
.staff3 {
  grid-area: staff3;
  background: rgb(157, 202, 236);
  text-align: center;
}

/* adds positioning to price for staff pic #3 (linking to grid.css) */
.staffpic3 {
  grid-area: pic3;
}

/* adds style and positioning to staff #4 (linking to grid.css) */
.staff4 {
  grid-area: staff4;
  background: rgb(157, 202, 236);
  text-align: center;
}

/* adds positioning to price for staff pic #4 (linking to grid.css) */
.staffpic4 {
  grid-area: pic4;
}

/* --- TEAM.HTML END --- */
/* --- SERVICES.HTML START --- */
/* positioning for page title on services.html (linking to grid.css) */
.servicestitle {
  grid-area: title;
}

/* positioning for page intro on services.html (linking to grid.css) */
.servicesintro {
  grid-area: intro;
  font-size: 18pt;
}

/* styling for aside layout - key to keep aside inline with ajoined section */
.servicespage aside {
  margin: 0 auto;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  background: rgb(157, 202, 236);
  width: 100%;
}

.servicespage aside p {
  margin: 25% auto;
}

/* styling for content ontop of images */
.services {
  color: white;
  background-size: cover;
  padding: 0 1em;
  background-position: center;
}

.services h2 {
  font-size: 24pt;
  margin-bottom: 0;
  text-decoration: underline;
}

/* styling for services lists - removes bullets and adds text styles */
.services ul {
  font-size: 18pt;
  list-style: none;
  padding: 1em 0;
  margin-top: 0;
}

/* adds image and positioning to service #1 (linking to grid.css) */
.service1 {
  grid-area: service;
  background-image: linear-gradient(#00000080, #00000080), url(../images/dog-walking.jpeg);
}

/* adds positioning to price for service #1 (linking to grid.css) */
.price1 {
  grid-area: price;
}

/* adds image and positioning to service #2 (linking to grid.css) */
.service2 {
  grid-area: service;
  background-image: linear-gradient(#00000080, #00000080), url(../images/dog-sitting.jpeg);
}

/* adds positioning to price for service #2 (linking to grid.css) */
.price2 {
  grid-area: price;
}

/* adds image and positioning to service #3 (linking to grid.css) */
.service3 {
  grid-area: service;
  background-image: linear-gradient(#00000080, #00000080), url(../images/day-care.jpeg);
}

/* adds positioning to price for service #3 (linking to grid.css) */
.price3 {
  grid-area: price;
}

/* --- SERVICES.HTML END --- */
/* --- GALLERY.HTML START --- */
/* styling to set the image size and add transition for hover effect */
#gallerygrid img {
  width: 100%;
  height: 25em;
  transition: .3s ease-in-out;
}

/* adds hover effect to images in gallery */
#gallerygrid img:hover {
  opacity: 0.8
}

/* --- GALLERY.HTML END --- */
/* --- CONTACT.HTML START --- */
/* positioning for contact block #1 - the contact form (linking to grid.css) */
#contact1 {
  grid-area: form;
}

/* styling for the contact form - input areas and text area (resizing only in a vertical direction to keep grid layout structure) */
input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: vertical;
}

/* positioning for contact block #2 (linking to grid.css) */
#contact2 {
  grid-area: locations;
  padding-left: 5em;
}

/* styling for locations list - removing bullet points */
#contact2 ul {
  list-style: none;
  padding-left: 0;
}

#contact2 li {
  font-size: 16pt;
}

/* --- CONTACT.HTML END --- */
/* --- FOOTER STYLING --- */
footer {
  background: grey;
  margin-top: 2em;
}

/* styling for footer lists - removing bullet points */
footer ul {
  list-style: none;
  padding-left: 0;
}

/* removing default a tag styling for footer links */
footer a {
  color: black;
}

/* styling and positioning for footer block #1 (linking to grid.css) */
.footer1 {
  grid-area: logo;
  width: 10em;
  margin: auto;
}

/* styling and positioning for footer block #2 (linking to grid.css) */
.footer2 {
  grid-area: open;
  margin: auto;
}

/* styling and positioning for footer block #3 (linking to grid.css) */
.footer3 {
  grid-area: contact;
  text-align: center;
  margin: auto;
}

/* styling and positioning for footer block #4 (linking to grid.css) */
.footer4 {
  grid-area: location;
  text-align: right;
  margin: auto;
}